/* Thanks to: https://github.com/lucagez/medium.css */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

html, body {
  margin: 0;
  width: 100%;
}

h1, p, a, select {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

p {
  font-family: "Lora", serif;
}

h1, select, a.button {
  font-family: "Lato", sans-serif;
}

h1, select {
  line-height: 1.2em;
  letter-spacing: 0;
  display: inline-block;
}

h1 {
  font-size: 1.4em;
  padding: .2em;
  margin: 1em 0;
  font-weight: 700;
  background-color: white;
}

p, select {
  margin-top: 1em;
  font-size: 1.3em;
  letter-spacing: -0.03px;
  line-height: 1.58em;
  word-break: break-word;
}

select {
  margin: 0;
  padding: .3em 1em .2em .5em;
}

header, footer {
  position: absolute;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: max-content;
}

html, body, main, #graph {
  height: 100%;
}

footer {
  bottom: 0;
}

a.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.84);
  border-radius: .5em;
  padding: .5em .7em;
  margin: .5em 0 1em;
  background-color: white;
}

a.button.first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a.button.last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

a.button.active {
  font-weight: 700;
  box-shadow: 0 0 .2em .2em rgba(0, 0, 0, 0.5);
}
